.app-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 22px;
  letter-spacing: 1px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  padding: 8px 12px;
  border-radius: 6px;
}
input[type='checkBox']{
cursor: pointer;
}

button {
  padding: 8px 15px;
  border-radius: 6px;
  margin-left: 6px;
  background-color: yellow;
  cursor: pointer;
}

.todos-list {
  margin-top: 4px;
  width: 800px;
  height: 400px;
  overflow-y: scroll;
  border: 2px solid gray;
  border-radius: 9px;
  padding: 20px;
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
  }
}
.todos-list::-webkit-scrollbar {
  background-color: #000000;
  height: 5px;
  /* cursor: pointer; */
}
.todos-list::-webkit-scrollbar-thumb {
  background: rgb(157, 157, 157);
  cursor: pointer;
  width: 4px;
  border-radius: 12px;
}

select {
  border-radius: 6px;
  padding: 3px;
  cursor: pointer;
}
.message{
  text-align: center;
  transform: translateY(8rem);
}
.delete-btn{
  font-size: 0.8rem;
  padding: 4px 6px;
}